<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logDirectory" value="${specialfolder:folder=ApplicationData}/AdU Pharmacy Inventory System/Logs"/>

  <targets>
    <target name="UserLogin"
            xsi:type="File"
            keepFileOpen="true"
            openFileCacheTimeout="30"
            fileAttributes="ReadOnly"
            fileName="${logDirectory}/UserLogin.txt"
            />

    <target name="ApparatusRecord"
        xsi:type="File"
        keepFileOpen="true"
        openFileCacheTimeout="30"
        fileAttributes="ReadOnly"
        fileName="${logDirectory}/ApparatusRecord.txt"
            />
    
    <target name="ApparatusStock"
        xsi:type="File"
        keepFileOpen="true"
        openFileCacheTimeout="30"
        fileAttributes="ReadOnly"
        fileName="${logDirectory}/ApparatusStock.txt"
            />    

    <target name="GenerateBorrowerForm"
        xsi:type="File"
        keepFileOpen="true"
        openFileCacheTimeout="30"
        fileAttributes="ReadOnly"
        fileName="${logDirectory}/GenerateBorrowerForm.txt"
            />

    <target name="BorrowerFormRecord"
        xsi:type="File"
        keepFileOpen="true"
        openFileCacheTimeout="30"
        fileAttributes="ReadOnly"
        fileName="${logDirectory}/BorrowerFormRecord.txt"
            />

    <target name="GenerateIssuanceForm"
        xsi:type="File"
        keepFileOpen="true"
        openFileCacheTimeout="30"
        fileAttributes="ReadOnly"
        fileName="${logDirectory}/GenerateIssuanceForm.txt"
            />

    <target name="IssuanceFormRecord"
        xsi:type="File"
        keepFileOpen="true"
        openFileCacheTimeout="30"
        fileAttributes="ReadOnly"
        fileName="${logDirectory}/IssuanceFormRecord.txt"
            />

    <target name="SubjectRecord"
        xsi:type="File"
        keepFileOpen="true"
        openFileCacheTimeout="30"
        fileAttributes="ReadOnly"
        fileName="${logDirectory}/SubjectLog.txt"
            />

    <target name="AccountLog"
    xsi:type="File"
    keepFileOpen="true"
    openFileCacheTimeout="30"
    fileAttributes="ReadOnly"
    fileName="${logDirectory}/AccountLog.txt"
            />

    <target name ="ErrorLog"
    xsi:type="File"
    keepFileOpen="true"
    openFileCacheTimeout="30"
    fileAttributes="ReadOnly"
    fileName="${logDirectory}/ErrorLog.txt"
            />

  </targets>

  <rules>
    <logger name="userLogin" minlevel="Info" writeTo="UserLogin" /> <!-- done -->
    
    <logger name="registerAccount" minlevel="Info" writeTo="AccountLog" /> <!-- done -->
    <logger name="deleteAccount" minlevel="Info" writeTo="AccountLog" /> <!-- done -->
    <logger name="userForgotPassword" minlevel="Info" writeTo="AccountLog"/> <!-- done -->
    
    <logger name="addNewApparatus" minlevel="Info" writeTo="ApparatusRecord"/> <!-- done -->
    <logger name="stockApparatus" minlevel="Info" writeTo="ApparatusStock"/>  <!-- done -->
    <logger name="deleteApparatus" minlevel="Info" writeTo="ApparatusRecord"/> <!-- done -->
    <logger name="editApparatus" minlevel="Info" writeTo="ApparatusRecord"/> <!-- done -->
    
    <logger name="addSubject" minlevel="Info" writeTo="SubjectRecord"/> <!-- done -->
    <logger name="deleteSubject" minlevel="Info" writeTo="SubjectRecord"/> <!-- done -->

    <logger name="generateIssuanceForm" minlevel="Info" writeTo="GenerateIssuanceForm"/> <!-- done -->
    <logger name="issuanceFormRecord" minlevel="Info" writeTo="IssuanceFormRecord"/> <!-- done -->
    
    <logger name="generateBorrowerForm" minlevel="Info" writeTo="GenerateBorrowerForm"/> <!-- done -->
    <logger name="borrowerFormRecord" minlevel="Info" writeTo="BorrowerFormRecord"/> <!-- done-->
    
    <logger name="*" level="Error"  writeTo="ErrorLog"/>
  </rules>
</nlog>
