<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logDirectory" value="${specialfolder:folder=ApplicationData}/AdU Pharmacy Inventory System/Logs"/>
  
  <targets>
    <target name="UserLogin"
            xsi:type="File"
            keepFileOpen="true"
            openFileCacheTimeout="30"
            fileAttributes="ReadOnly"
            fileName="${logDirectory}/UserLogin.txt"
            />
    <target name="StockIn"
        xsi:type="File"
        keepFileOpen="true"
        openFileCacheTimeout="30"
        fileAttributes="ReadOnly"
        fileName="${logDirectory}/AddStock.txt"
            />
    <target name="ApparatusStockOut"
    xsi:type="File"
    keepFileOpen="true"
    openFileCacheTimeout="30"
    fileAttributes="ReadOnly"
    fileName="${logDirectory}/Add New Chemical.txt"
            />
    <target name="ChemicalStockOut"
    xsi:type="File"
    keepFileOpen="true"
    openFileCacheTimeout="30"
    fileAttributes="ReadOnly"
    fileName="${logDirectory}/Add New Chemical.txt"
            />
    <target name="GenerateIssuanceForm"
    xsi:type="File"
    keepFileOpen="true"
    openFileCacheTimeout="30"
    fileAttributes="ReadOnly"
    fileName="${logDirectory}/Add New Chemical.txt"
            />
    <target name="AddNewChemical"
    xsi:type="File"
    keepFileOpen="true"
    openFileCacheTimeout="30"
    fileAttributes="ReadOnly"
    fileName="${logDirectory}/Add New Chemical.txt"
            />
    
    <target name="AddNewApparatus"
        xsi:type="File"
        keepFileOpen="true"
        openFileCacheTimeout="30"
        fileAttributes="ReadOnly"
        fileName="${logDirectory}/Add New Apparatus.txt"
            />
    <target name="AddNewChemical"
    xsi:type="File"
    keepFileOpen="true"
    openFileCacheTimeout="30"
    fileAttributes="ReadOnly"
    fileName="${logDirectory}/Add New Chemical.txt"
            />
    <target name="RegisterAccountLog"
    xsi:type="File"
    keepFileOpen="true"
    openFileCacheTimeout="30"
    fileAttributes="ReadOnly"
    fileName="${logDirectory}/RegisterAccountLog.txt"
            />
    <target name ="DeleteAccountLog"
            xsi:type="File"
            keepFileOpen="true"
            openFileCacheTimeout="30"
            fileAttributes="ReadOnly"
            fileName="${logDirectory}/DeleteAccountLog.txt"
            />
    <target name ="ErrorLog"
    xsi:type="File"
    keepFileOpen="true"
    openFileCacheTimeout="30"
    fileAttributes="ReadOnly"
    fileName="${logDirectory}/ErrorLog.txt"
            />

  </targets>

  <rules>

  </rules>
</nlog>
